<form action="{{ action }}" method="post" class="eirano">
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" name="m_process" value="{{ button_confirm }}" class="btn btn-primary"/>
        </div>
    </div>
</form>