{{ header }}
<div class="contacts-map">
  <div class="container">
    <div class="contacts-contacts">
      <div class="contact">
        <h2 class="header-1">Little Star</h2>
        <p class="header-3 text-medium" style="justify-content: space-between;"><span style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 20px;line-height: 24px;color: #C79B8B;white-space: nowrap;">ул. Пионерская д. 2В</span>
        <span style="display: inline-block;">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;"><path d="M6.26389 9.15972C7.26389 11.125 8.875 12.7292 10.8403 13.7361L12.3681 12.2083C12.5556 12.0208 12.8333 11.9583 13.0764 12.0417C13.8542 12.2986 14.6944 12.4375 15.5556 12.4375C15.9375 12.4375 16.25 12.75 16.25 13.1319V15.5556C16.25 15.9375 15.9375 16.25 15.5556 16.25C9.03472 16.25 3.75 10.9653 3.75 4.44444C3.75 4.0625 4.0625 3.75 4.44444 3.75H6.875C7.25694 3.75 7.56944 4.0625 7.56944 4.44444C7.56944 5.3125 7.70833 6.14583 7.96528 6.92361C8.04167 7.16667 7.98611 7.4375 7.79167 7.63194L6.26389 9.15972Z" fill="black" fill-opacity="0.42"></path></svg><span style="vertical-align: middle;"> +7(914)544-16-00</span>
        </span></p>
        <p style="margin-top: 10px;color: #6B6B6E;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px">Хабаровск, ТРК БРОСКО МОЛЛ, 3 этаж</p>
      </div>
      <div class="contact">
        <p class="header-3 text-medium" style="justify-content: space-between;"><span style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 20px;line-height: 24px;color: #C79B8B;white-space: nowrap;">ул. Мухина д. 114</span>
        <span style="display: inline-block;">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;"><path d="M6.26389 9.15972C7.26389 11.125 8.875 12.7292 10.8403 13.7361L12.3681 12.2083C12.5556 12.0208 12.8333 11.9583 13.0764 12.0417C13.8542 12.2986 14.6944 12.4375 15.5556 12.4375C15.9375 12.4375 16.25 12.75 16.25 13.1319V15.5556C16.25 15.9375 15.9375 16.25 15.5556 16.25C9.03472 16.25 3.75 10.9653 3.75 4.44444C3.75 4.0625 4.0625 3.75 4.44444 3.75H6.875C7.25694 3.75 7.56944 4.0625 7.56944 4.44444C7.56944 5.3125 7.70833 6.14583 7.96528 6.92361C8.04167 7.16667 7.98611 7.4375 7.79167 7.63194L6.26389 9.15972Z" fill="black" fill-opacity="0.42"></path></svg><span style="vertical-align: middle;"> +7(914)544-16-00</span>
        </span></p>
        <p style="margin-top: 10px;color: #6B6B6E;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 14px;line-height: 20px">Благовещенск, ТЦ Острова</p>
      </div>
    </div>
  </div>
  <div id="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5ef251a9d6f45274529a895631166bfef10e807071521f1b49ede8607bed6b91&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=false"></script>
  </div>
</div>
{{ footer }}
