<div id="search" class="flex-container flex-center hide-mobile">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
  <button type="button" class="btn btn-search"></button>
</div>